

<div id="wrapper" class="container" data-article-id={{article._id}}>

    <div class="row"> 
        <h1>{{article.title}}</h1>
    </div> <!-- /row -->

    <div class="row"> 
        <h5><a href="{{article.link}}" target="_blank">{{article.link}}</a></h5>
    </div> <!-- /row -->

    <!--
    <div class="row"> 
    <h3>Written By: </h3>
    </div>  

    <div class="row"> 
    <h3>Date: </h3>
    </div> 

    <div class="row"> 
    <div>Blurb</div>
    </div> 

    <div class="row"> 
    <h3>Community Discussion</h3>
    </div> -->

    <div class="row"> 
        <div>
            <form id="notesForm" method="post">
                <textarea id="user-added-note"></textarea>
                <button id="new-note-submit" class="btn btn-primary">Add Note</button>
            </form>
        </div>
    </div> <!-- /row -->

    <div class="row"> 
        <div id="userComments">COMMENTS GO HERE</div>
    </div> <!-- /row -->

</div><!-- /container -->