


<div id="wrapper">

<h1>Note Scraper</h1>
<h2><i>If you can do this...the homework should be no problem.</i></h2>

<div><button id="getNews">Get News</button></div>

<div id="articles-section">

{{#each article}}
<div class="article-data" data-article-id="{{_id}}">
<div>{{title}}</div>
</div>
{{/each}}

</div>

<div id="notes"></div>

</div>


